.contact {
    background-color: #2c1d27;
    padding: 25px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    box-sizing: border-box;
}

.contact>*:hover {
    text-decoration: underline;
    text-decoration-color: white;
}

.contact__email {
    color: white;
    text-decoration: none;
    flex-grow: 100;
    text-align: center;
}

.contact__number {
    color: white;
    text-decoration: none;
    justify-content: start;
    flex-grow: 100;
    text-align: right;
}

.contact__address {
    color: white;
    text-decoration: none;
    flex-grow: 85;
}

