.footer {
    background-color: #782221;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    box-sizing:border-box;
    padding: 20px;
}

.footer__icon {
    flex-flow: row wrap;
}

.footer__icon__twitter {
    margin : 15px;
}

.footer__icon__linkedin:hover {
    opacity: 0.7;
}

.footer__icon__twitter:hover {
    opacity: 0.7;
}

.footer__icon__github:hover {
    opacity: 0.7;
}

small {
    flex-flow: row wrap;
    color: white;
    font-family: "Raleway", sans-serif;
}