.rightColumn {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 0px 20px 0px 45px;
    font-family: "Raleway", sans-serif;
    border-right: medium solid #782221;
}

.rightColumn__title {
    font-family: "Lato", sans-serif;
    background-color: #dbc2a4;
    padding-left: 5px;
    line-height: 2;
    border-left: 7px solid #782221;
    font-size: 1.2rem;
}

.rightColumn__subTitle {
    font-weight: bold;
}

.rightColumn__experience:hover {
    border-right: medium solid #782221;
}